@charset "UTF-8";
/*
	PERSONAL WEBSITE: VICTOR COPQUE
	AUTHOR: VICTOR COPQUE DOS REIS
*/
/* BASE - Base styles, variables, mixins, etc */
html, body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0; }

/* MODULES - Individual site components */
/*
	NAVBAR
*/
.tooltip-inner {
  white-space: pre-wrap;
  list-style: none; }

/*
	FOOTER
*/
footer .row .col-md-6 .form-horizontal .form-group button {
  height: 40px;
  font-family: inherit;
  font-size: 15px;
  font-weight: bold; }

footer .row .col-md-6 .form-horizontal {
  color: #222;
  margin: 0px 0px 0px 0px; }
  footer .row .col-md-6 .form-horizontal .form-group input, footer .row .col-md-6 .form-horizontal .form-group textarea {
    outline: none;
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    box-shadow: none !important; }
  footer .row .col-md-6 .form-horizontal .form-group textarea {
    resize: none; }

footer .row .col-md-6 .form-mobile {
  margin-top: 50px; }

.jumbotron {
  padding: 20px;
  margin: 10% 0 200px 10%;
  width: 80%;
  background-color: transparent;
  text-align: center;
  color: #ecf0f1; }
  @media screen and (max-width: 768px) {
    .jumbotron {
      margin: 10px 0 200px 0%;
      width: 100%;
      padding: 0; } }

/*
	NAVBAR
*/
nav .container-fluid .collapse ul li {
  width: 60px;
  height: 60px;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  border-radius: 100%;
  background-image: url("../img/profile.jpg");
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center; }

/*
	SECTION JUMBOTRON
*/
.jumbotron h1 {
  margin-bottom: 50px;
  padding-bottom: 20px;
  border-bottom: 2px solid #fff;
  font-family: "Poiret One", cursive;
  font-size: 40px;
  font-weight: initial;
  /* Life é um span*/ }
  .jumbotron h1 .life {
    color: #3498db;
    font-family: "Pacifico", cursive;
    font-size: 70px;
    font-weight: initial; }
@media screen and (max-width: 768px) {
  .jumbotron h1 {
    font-family: "Poiret One", cursive;
    font-size: 25px;
    font-weight: initial; }
    .jumbotron h1 .life {
      font-family: "Pacifico", cursive;
      font-size: 40px;
      font-weight: initial; } }
.jumbotron p a span {
  font-weight: bold; }
.jumbotron p a i {
  color: #ecf0f1;
  margin-left: 0.2em; }
@media screen and (max-width: 768px) {
  .jumbotron p {
    font-size: 1.3em; }
    .jumbotron p a, .jumbotron p button {
      margin-top: 1em; } }

/*
	FOOTER
*/
footer .row .col-md-6 h1 {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  bottom: 50px;
  font-family: "Poiret One", cursive;
  font-size: 2.5em;
  font-weight: bold; }
  footer .row .col-md-6 h1 span {
    font-family: "Pacifico", cursive;
    font-size: 1.2em;
    font-weight: initial; }
footer .row .col-md-6 .square-less p {
  font-family: "Poiret One", cursive;
  font-size: 15px;
  font-weight: bold; }
footer .row .col-md-6 .square-less a {
  text-decoration: none;
  text-align: center;
  color: #222;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  transition: all 0.3s; }
  footer .row .col-md-6 .square-less a i {
    font-family: footer .row .col-md-6 .square-less a i;
    font-size: 4em;
    font-weight: initial;
    margin-top: 50px; }
  footer .row .col-md-6 .square-less a:hover, footer .row .col-md-6 .square-less a:focus, footer .row .col-md-6 .square-less a:active {
    color: #2980b9; }

.landing {
  height: 90%;
  height: 90vh; }
  .landing:before {
    content: " ";
    width: 100%;
    height: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: -1; }
  .landing:after {
    content: " ";
    width: 100%;
    height: 100%;
    height: 100vh;
    background-image: url("../img/1.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: -2; }
  @media screen and (max-width: 768px) and (orientation: portrait) {
    .landing {
      height: 500px; }
      .landing:before {
        display: none; }
      .landing:after {
        height: 600px;
        background-image: url("../img/moulin.png");
        background-size: initial;
        background-repeat: repeat;
        background-position: center; } }
  @media screen and (max-width: 768px) and (orientation: landscape) {
    .landing {
      height: 400px; }
      .landing:before {
        height: 500px; }
      .landing:after {
        height: 500px; } }

/* LAYOUTS - Page layout styles */
header {
  padding-top: 20px;
  height: 10%; }
  @media screen and (max-width: 768px) {
    header {
      height: 100px; } }

nav {
  border-radius: 0;
  border-style: none;
  background-color: transparent; }
  nav .container-fluid {
    padding: 0px 100px; }
    nav .container-fluid .navbar-header {
      color: #ecf0f1;
      font-family: "Pacifico", cursive;
      font-size: 2.5em;
      font-weight: initial; }
    nav .container-fluid .navbar-collapse {
      box-shadow: none; }
  @media screen and (max-width: 768px) {
    nav .container-fluid .navbar-header {
      text-align: center;
      width: 100%;
      margin: 0;
      font-family: "Pacifico", cursive;
      font-size: 2em;
      font-weight: initial; }
    nav .container-fluid .navbar-collapse {
      display: none; } }

footer {
  height: 60%;
  height: 60vh;
  width: 100%;
  border-top: 7px solid #2ecc71; }
  footer .row {
    padding: 0;
    margin: 0;
    height: 100%; }
    footer .row .col-md-6:nth-child(1):before {
      content: " ";
      width: 100%;
      height: 100%;
      height: 55vh;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      background-color: rgba(255, 255, 255, 0.6);
      z-index: 2; }
    footer .row .col-md-6:nth-child(1):after {
      content: " ";
      width: 50%;
      height: 50%;
      height: 50vh;
      background-image: url("../img/2.png");
      background-size: 100% 100%;
      background-repeat: no-repeat;
      background-position: center;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      left: 25%;
      z-index: 1; }
    footer .row .col-md-6 {
      padding: 0;
      margin: 0;
      height: 100%; }
  @media screen and (max-width: 1000px) and (orientation: portrait) {
    footer .col-md-6:nth-child(1) {
      display: none; } }
  @media screen and (max-width: 1000px) and (orientation: landscape) {
    footer .col-md-6:nth-child(1) {
      display: none; } }

/*# sourceMappingURL=main.css.map */
