@mixin transition($position, $time){
  -webkit-transition: $position $time;
      -moz-transition: $position  $time;
          -ms-transition: $position  $time;
              transition: $position  $time;
}

@mixin position-perfect($local, $position){
    position: $position ;
    @if $local == "top" {
        top: 0;
    }@else{
        bottom: 0;
    }
    left: 0;  
    right: 0;
}

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
      -moz-border-radius: $radius;
          -ms-border-radius: $radius;
             border-radius: $radius;
}

@mixin basic-pseudo-element($width, $height-percentage, $height-vh){
    content: " ";
    width: $width;
    height: $height-percentage;
    height: $height-vh;
}

@mixin height-page($percentage, $vh){
    height: $percentage;
    height: $vh;
}

@mixin background-img($url, $size, $position, $type, $repeat: no-repeat){
  background:{
      image: url($url);
      @if $type == "mobile" {
          size: $size;
      } @else {
          size: $size $size;
      }
      repeat: $repeat;
      position: $position;
  }
}

@mixin fonts($family, $size, $weight){
  font:{
      family: $family;
      size: $size;
      weight: $weight;
    }
}

@mixin background-transparent($color){
    background-color: rgba($color, .6);
}

@mixin without-PandM(){
    padding: 0;
    margin: 0;
}