$base-color: #2980b9;
$base-color-hover: #222;
$base-color-contrast: #ecf0f1;
$height-header: 10%;
$height-header-mobile: 100px;
$base-padding-navbar: 20px;
$base-font: 'Pacifico', cursive;
$common-font: 'Poiret One', cursive;
