footer{	
	@include height-page(60%, 60vh);
	width: 100%;
	border-top: 7px solid #2ecc71;

	.row{
		@include without-PandM();
		height: 100%;
		.col-md-6:nth-child(1){
			&:before{
				@include basic-pseudo-element(100%, 100%, 55vh);
				@include position-perfect("top", absolute);
				@include background-transparent(#fff);
				z-index: 2;
			}

			&:after{
				@include basic-pseudo-element(50%, 50%, 50vh);
				@include background-img("../img/2.png", 100%, center, "desktop");
				@include position-perfect("top", absolute);
				left: 25%;
				z-index: 1;
			}
		}
		.col-md-6{
			@include without-PandM();
			height: 100%;
		}
	}

	@media screen and (max-width: 1000px) and (orientation: portrait){
		.col-md-6:nth-child(1){display: none;}
	}

	@media screen and (max-width: 1000px) and (orientation: landscape){
		.col-md-6:nth-child(1){display: none;}
	}
}