/*
	NAVBAR
*/
.tooltip-inner {
    white-space: pre-wrap;
    list-style: none;
}

/*
	FOOTER
*/
footer{	
	.row{
		.col-md-6{
			.form-horizontal{
				.form-group{
					button{
						height: 40px;
						@include fonts(inherit, 15px, bold);
					}
				}
			}
		}
	}
}