.jumbotron{
	padding: 20px;
	margin: 10% 0 200px 10%;
	width: 80%;
	background-color: transparent;
	text-align: center;
	color: $base-color-contrast;

	@media screen and (max-width: 768px){
		margin: 10px 0 200px 0%;
		width: 100%;
		padding: 0;
	}
}