footer{	
	.row{
		.col-md-6{
			.form-horizontal{
				color: $base-color-hover;
				margin: 0px 0px 0px 0px;
				.form-group{
					input{
						outline: none;
						-webkit-box-shadow: none !important;
							-moz-box-shadow: none !important;
								box-shadow: none !important;
					}
					textarea{
						@extend input;
						resize: none;
					}
				}
			}
		}
	}
}