.landing{	

	@include height-page(90%, 90vh);

	&:before{
		@include basic-pseudo-element(100%, 100%, 100vh);
    	@include position-perfect("top", absolute);
		@include background-transparent(#000);
		z-index: -1;
	}

	&:after{
		@include basic-pseudo-element(100%, 100%, 100vh);
		@include background-img("../img/1.jpg", 100%, center, "desktop");
		@include position-perfect("top", absolute);
		z-index: -2;
	}

	@media screen and (max-width: 768px) and (orientation: portrait){
		height: 500px;
		&:before{
			display: none;
		}
		&:after{
			height: 600px;
			@include background-img("../img/moulin.png", initial, center, "mobile", repeat);
		}
	}

	@media screen and (max-width: 768px) and (orientation: landscape){
		height: 400px;
		&:before{
			height: 500px;
		}
		&:after{
			height: 500px;
		}
	}
}