/*
	NAVBAR
*/
nav{
    .container-fluid{
        .collapse{
        	ul{
        		li{
        			width: 60px;
        			height: 60px;
        			@include border-radius(100%);
        			@include background-img("../img/profile.jpg", 100%, center, mobile);
        		}
        	}
        }
   	}
}
/*
	SECTION JUMBOTRON
*/
.jumbotron{
	h1{
		margin-bottom: 50px;
		padding-bottom: 20px;
		border-bottom: 2px solid #fff;
		@include fonts($common-font, 40px, initial);
		/* Life é um span*/
		.life{
			color: #3498db;
			@include fonts($base-font, 70px, initial);
		}
	}
	@media screen and (max-width: 768px){
		h1{
			@include fonts($common-font, 25px, initial);
			.life{
				@include fonts($base-font, 40px, initial);
			}
		}
	}
	p{
		a{
			span{
				font: {
					weight: bold;
				}
			}

			i{
				color: $base-color-contrast;
				margin-left: 0.2em;
			}
		}
		@media screen and (max-width: 768px){
			a, button{
				margin-top: 1em;
			}

			font: {
				size: 1.3em;
			}
		}
	}
}

/*
	FOOTER
*/

footer{	
	.row{
		.col-md-6{
			h1{
				@include position-perfect("bottom", absolute);
				text-align: center;
				bottom: 50px;
				@include fonts($common-font, 2.5em, bold);
				span{
					@include fonts($base-font, 1.2em, initial);
				}
			}
			.square-less{
				p{
					@include fonts($common-font, 15px, bold);
				}
				a{
					text-decoration: none;
					text-align: center;
					color: $base-color-hover;
					i{
						@include fonts(&, 4em, initial);
						margin-top: 50px;
					}
					@include transition(all, .3s);
					&:hover, &:focus, &:active {
						color: $base-color;
					}
				}
			}
		}
	}
}